{% extends "base.html" %}
{% block content %}
<h1>Welcome to Takawiki 2.0</h1>
<p>This wiki is a community-fed database of information on the Takarazuka Revue. Here, Takarazuka fans combine their knowledge and efforts to create the most exhaustive resource of information about the Revue that has ever been available on the internet.</p>

<p>Whether you're looking for your favourite Takarasienne's troupe history, or the synopsis of a DVD you're thinking of buying, or the Revue's performance schedule for 2023, you'll find it here — or you'll find someone who knows where to look. Enjoy!</p>
{% endblock content %}