{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% with member=object stage_name=object.canonical_stage_name %}
    <h1 class="text-center display-4">
        {{ stage_name.surname_romaji }} {{ stage_name.given_name_romaji }}
    </h1>

    {% if images %}
        <div class="staff-profile-images">
            {% for image in images %}
                <img src="{{ image.src }}" alt="{{ image.alt_text }}" />
            {% endfor %}
        </div>
    {% endif %}
        
    <b>{% translate "Stage Name" %}:</b>
        {% if not jp_JP %}
            {{ stage_name.surname_romaji }} {{ stage_name.given_name_romaji }}<br />
        <b>{% translate "In Japanese" %}:</b>
        {% endif %}
        {{ stage_name.surname }} {{ stage_name.given_name }} 
        ({{ stage_name.surname_reading }} {{ stage_name.given_name_reading }})
    <br />
    
    {% include "iterable_localized_title.html" with title="Nickname" items=nicknames %}

    {% if object.given_name %}
        <b>{% translate "Real Name" %}:</b>
            {% if jp_JP%}
                {{ member.surname }} {{ member.given_name }} ({{ member.surname_reading }} {{ member.given_name_reading }})
            {% else %}
                {{ member.surname_romaji }} {{ member.given_name_romaji }} ({{ member.surname }} {{ member.given_name }})
            {% endif %}
        <br />
    {% endif %}

    {% if member.birthdate %}
        <b>{% translate "Birthdate" %}:</b> {{ member.birthdate}}<br />
    {% endif %}

    {% if member.height %}
        <b>{% translate "Height" %}:</b> {{ member.height }}cm<br />
    {% endif %}
    {% endwith %}
{% endblock content %}

<!--
Current Troupe: n/a
Role: Otokoyaku
Status: Retired Top Star (1976 - 1981)

Birthday: August 19, 1945
Blood Type:
Hometown: Sanda-shi, Hyogo
Favorite Food:
Favorite Flower: Rose
Favorite Colors: White, brown, navy blue
Hobbies: Travel
Collections: Rings, accessories
Special Talent:
Origin of Stage Name:
Favorite Role:
Would Like to Try Playing: Zenigata Heiji (legendary policeman who catches criminals by throwing coins)

Debut: 1963 (49th Class) Flower Poetry Anthology 1963
Troupe History:
1982 - 1988 Senka (theater)
1976 - 1982 Moon Troupe
1975 - 1976 Flower Troupe
1964 - 1975 Moon Troupe
-->
