{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% with member=object stage_name=object.canonical_stage_name %}
    <h1 class="text-center display-4">
        {{ stage_name.surname_romaji }} {{ stage_name.given_name_romaji }}
    </h1>

    {% if images %}
        <div class="staff-profile-images">
            {% for image in images %}
                <img src="{{ image.src }}" alt="{{ image.alt_text }}" />
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="p-1 bg-info bg-gradient text-center"><b>Standard Profile Information</b></div>

    <b>{% translate "Stage Name" %}:</b>
        {% if not jp_JP %}
            {{ stage_name.surname_romaji }} {{ stage_name.given_name_romaji }}<br />
        <b>{% translate "In Japanese" %}:</b>
        {% endif %}
        {{ stage_name.surname }} {{ stage_name.given_name }} 
        ({{ stage_name.surname_reading }} {{ stage_name.given_name_reading }})
    <br />
    {% comment %} {% if member.stagename_set.all.count > 1 or name in member.stagename_set.all has alternative kanji %} {% endcomment %}
        <b>{% translate "Also Known By" %}:</b>
        {% for alt_name in stagenames %}
            {% if not alt_name.is_canonical %}
                {{ alt_name.surname_romaji }} {{ alt_name.given_name_romaji }} ({{ alt_name.surname }} {{ alt_name.given_name }})
            {% endif %}
            {% if alt_name.alt_surname_kanji or alt_name.alt_given_name_kanji %}
                {{ alt_name.surname_romaji }} {{ alt_name.given_name_romaji }}
                (
                {% firstof alt_name.alt_surname_kanji alt_name.surname %} {% firstof alt_name.alt_given_name_kanji alt_name.given_name %}
                )
            {% endif %}
        {% endfor %}
        </br>
    {% comment %} {% endif %} {% endcomment %}
        
    {% if member.nickname %}
        <b>{% translate "Nickname" %}:</b> {{ member.nickname }}<br />
    {% endif %}

    {% if member.given_name %}
        <b>{% translate "Real Name" %}:</b>
            {% if jp_JP%}
                {{ member.surname }} {{ member.given_name }} ({{ member.surname_reading }} {{ member.given_name_reading }})
            {% else %}
                {{ member.surname_romaji }} {{ member.given_name_romaji }} ({{ member.surname }} {{ member.given_name }})
            {% endif %}
        <br />
    {% endif %}

    {% if member.birthdate %}
        <b>{% translate "Birthdate" %}:</b> {{ member.birthdate}}<br />
    {% endif %}
    
    {% if member.deathdate %}
        <b>{% translate "Deathdate" %}:</b> {{ member.deathdate }}<br />
    {% endif %}

    {% if member.height %}
        <b>{% translate "Height" %}:</b> {{ member.height }}cm<br />
    {% endif %}

    {% if member.staffprofiletextfield_set %}
        {% for field in member.staffprofiletextfield_set.all %}
            {% if field.show_on_profile %}
            <b>{{ field.profile_text_choice }}:</b> {% firstof field.en_text field.jp_text %}</br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br />
    {% if rolelist %}
        <div class="p-1 bg-info bg-gradient text-center"><b>Roles</b></div>
        {% for role in rolelist %}
            <b>{{ role.date_start.year }}:</b> <a href={{ role.production_run.production.get_absolute_url }}>{{ role.work }}</a>, {{ role.performer_role }}
        {% endfor %}
    {% endif %}
    {% if perfstafflist or workstafflist %}
    <div class="p-1 bg-info bg-gradient text-center"><b>Staff Credits</b></div>
    {% for credit in workstafflist %}
        {% firstof credit.work_staff_role credit.staff_role %} {{ credit.work }}<br />
    {% endfor %}
    {% for credit in perfstafflist %}
        {% firstof credit.staff_role %} {{ credit.work }}<br />
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock content %}